{% extends 'base.html.twig' %}

{% block title %}Destination index{% endblock %}

{% block body %}
    <h1>Destination index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>City</th>
                <th>Id</th>
                <th>Coordinates.lat</th>
                <th>Coordinates.lng</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for destination in destinations %}
            <tr>
                <td>{{ destination.city }}</td>
                <td>{{ destination.id }}</td>
                <td>{{ destination.coordinates.lat }}</td>
                <td>{{ destination.coordinates.lng }}</td>
                <td>
                    <a href="{{ path('destination_show', {'id': destination.id}) }}">show</a>
                    <a href="{{ path('destination_edit', {'id': destination.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('destination_new') }}">Create new</a>
{% endblock %}
