{% extends 'base.html.twig' %}

{% block title %}Destination{% endblock %}

{% block body %}
    <h1>Destination</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>City</th>
                <td>{{ destination.city }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ destination.id }}</td>
            </tr>
            <tr>
                <th>Coordinates.lat</th>
                <td>{{ destination.coordinates.lat }}</td>
            </tr>
            <tr>
                <th>Coordinates.lng</th>
                <td>{{ destination.coordinates.lng }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('destination_index') }}">back to list</a>

    <a href="{{ path('destination_edit', {'id': destination.id}) }}">edit</a>

    {{ include('destination/_delete_form.html.twig') }}
{% endblock %}
